{% extends 'layout.html.twig' %}

{% block content %}

<section class="main-content full-post">
  <div class="row text-center">
    <div class="large-12 columns" role="content">
      <h1>
        Projects
      </h1>
    </div>
  </div>
</section>

{% endblock %}
