<div class="ui container">
  <div class="ui huge secondary pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a href="/" class="item" style="padding: 0.35em 1.5em">
      <img src="/themes/greymass/img/logo.png">
    </a>
    <a class="item" href="/">Blog</a>
<!--     <a class="item" href="/about">About</a>
    <a class="item" href="/projects">Projects</a> -->
    <div class="right item">
    </div>
  </div>
</div>
