<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="item" href="/">Blog</a>
  <!-- <a class="item" href="/about">About</a>
  <a class="item" href="/projects">Projects</a> -->
</div>
