{% extends 'layout.html.twig' %}

{% block content %}

<section class="main-content full-post">
  <div class="ui container" role="content">
    {% include 'partials/post.html.twig' with { post: post } %}
  </div>
</section>

{% endblock %}
