
<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Greymass</h4>
        {% include 'partials/menu/footer.html.twig' %}
      </div>
      <div class="three wide column">
      </div>
      <div class="three wide column">

      </div>
      <div class="seven wide center aligned right floated column">
        {% include 'partials/steem.svg' %}
        <p>
          Powered by
          <a class="footer__link" href="https://reprint.io">reprint</a>, 
          built on
          <a class="footer__link" href="https://steem.io/">steem</a>
        </p>
      </div>
    </div>
  </div>
</div>